.qr-code .code_box {
  width: 100%;
  display: flex;
}
.left_input {
  resize: none;
  height: 10rem;
}
.right_option {
  display: flex;
  flex-direction: row;
  margin-top: 0.4rem;
  justify-content: space-between;
  max-width: 400px;
}

.option_label {
  flex: 1;
  font-size: 0.875rem;
  line-height: 1.5715rem;
  padding: 4px 2px;
}
.option_val {
  max-width: 5rem;
}
.ant-switch {
  margin: 5px 2px;
}
